

/* body {
  margin: 0;
}

.nav {
  background-color: #333;
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
} */

.new-hero {
  background-color: lightblue;
  padding: 10px 20px;
  border-radius: 10px;
  display:grid;
  margin: 45px;
  justify-content: center;
}

.custom-style {
  border-radius: 10px;
  /* padding: 0px; */
  display: flow-root;
  
}