body {
  background-image: url(https://assets.entrepreneur.com/content/3x2/2000/20160701113917-Marvel.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.link {
  color: yellow;
  background-color: red;
  padding: 4px;
  border-radius: 10px;
}

.NavBar {
  background-color: transparent;
  font-size: 20px;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}
.welcome {
  align-content: auto;
  text-align: center ;
  background-color: transparent;
}

h1 {
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
  border-radius: 10px;
  color: white;
  font-size: 100px;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: larger;
  background-color: black;
  border-radius: 10px;
  padding: 2px;
}

.card-container {
  background-color: transparent;
  padding: 1rem;
  background-size: auto;
  border-radius: 20px;
}

.new-hero {
  background-color: yellow;
  padding: 10px 20px;
  border-radius: 10px;
  display:grid;
  margin: 45px;
  justify-content: center;
}

.custom-style {
  border-radius: 10px;
  display: flow-root;
}

.style-name {
  color: yellow;
}

.btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
  background-color: black;
  border-radius: 20px;
}